.btn{
     position: absolute;
     top: 50%;
     left: 50%;
     -ms-transform: translateX(-50%) translateY(-50%);
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}

.modal{
     border: 1px solid ;
     position: absolute;
     top: 50%;
     left: 50%;
     -ms-transform: translateX(-50%) translateY(-50%);
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}
.text{
    text-align: center;
}
.btnModal{
    display:grid;
    justify-content: center;
    align-items: center;
    margin: auto;
}