input{
    height:70px;
}

.input-field{
    display:flex;
    max-width:inherit;
    margin:0 auto;
}

.container{
    display:flex;
    flex-direction:column;
    margin:0 auto;
}

h1{
    text-align:center;
}
button{
    justify-content:center;
    align-self: center;
    padding:5px;
    margin:5px
}