input {
    height: 70px;
}

.container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

h1 {
    text-align: center;
}

button {
    margin: 2em auto;
    display: grid;
    padding: 5px;
    justify-content: center
}

p {
    text-align: center;
}